
@{
    ViewData["Title"] = "Lista de cadastro";
}
 

<div
    class="text-center"> 

    <div
        class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" roly="button" asp-controller="Funcionario" asp-action="Criar">Cadastrar novo funcionário</a>
       

    </div>

</div>

